div.item-outer > .item-inner {
    background-color: blue;
    width: 20%;
    border-style: inset;
}

div.item-outer > .item-inner > .record {
    background-color: lightblue;
    border: 2px;
    border-color: black;
    border-style: double;
}

.treenode-wrapper {
    display: table-cell;
    border: 5px;
    border-color: black;
    border-style: double;
}

.node-property-input {
    display: table-cell;
}

.node-property-label {
    display: table-cell;
}

.node-property-wrapper {
    display: block;
    column-count: 2;
}

.category-node-deficit {
    background-color: red;
}

.category-node-balanced {
    background-color: lightblue;
}

.category-node-surplus {
    background-color: green;
}

.category-node-leaf {
    background-color: darkgray;
}

.category-node-deficit-div,
.category-node-surplus-div,
.category-node-balanced-div{
    display: inline-block;
    float: right;
    font-size: 90%;
    margin-right: 2%;
}

.category-node-deficit-div {
    color: yellow;
}

.category-node-surplus-div {
    color: lightblue;
}

.category-node-balanced-div {
    color: darkblue;
}