div.item-outer > .item-inner {
    background-color: blue;
    width: 20%;
    border-style: inset;
}

div.item-outer > .item-inner > .record {
    background-color: lightblue;
    border: 2px;
    border-color: black;
    border-style: double;
}

.treenode-wrapper {
    display: table-cell;
    border: 5px;
    border-color: black;
    border-style: double;
}

.node-property-input {
    display: table-cell;
    float: right;
    width: 100%;
    border-style: solid;
    margin-left: 20px;
    border-radius: 3px;
    margin-top: 10px;
    background-color: lightgray;
}

.node-property-label {
    display: table-cell;
}

.node-property-wrapper {
    display: block;
    column-count: 2;
    margin-left: 5px;
    margin-right: 5px;
}

.category-node-imbalance {
    background-color: lightblue;
    border-style: dotted ;
    border-color: red;
}

.category-node-balanced {
    background-color: lightblue;
    border-style: solid;
    border-color: darkblue;
}

.category-node-surplus {
    background-color: lightblue;
    border-style: solid;
    border-color: green;
}

.category-node-leaf {
    background-color: darkgray;
}

.category-node-imbalance-div,
.category-node-surplus-div,
.category-node-balanced-div,
.category-node-leaf-div {
    display: block;
    text-align: right;
    float: right;
    font-size: 90%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    color: black;
}

.treenode-newchild {
    float: right;
    background-color: lightgrey;
    margin-right: 2%;
    margin-bottom: 2%;
}

.category-history {
    background-color: white;
}

